<div class="chat">
  <div class="chat-header">
    <p class="room-inf">fugefuga</p>
    <a herf="#" class="rm-room-button">チャットを終了する</a>
  </div>
  <div class="messages"></div>
  <div class="form"></div>
</div>