<div class="chat">
  <div class="chat-header">
    <p class="room-inf">fugefuga</p>
    <a herf="#" class="rm-room-button">チャットを終了する</a>
  </div>
  <ul class="messages">
    <li class="message">
      <div class="message-header">
        <a class="user-name">Tkc</a>
        <p class="message-date">2020/3/31 12:01</p>
      </div>
      <p class="message-text">おはよう</p>
    </li>
    <li class="message">
      <div class="message-header">
        <a class="user-name">Jac</a>
        <p class="message-date">2020/3/31 12:04</p>
      </div>
      <p class="message-text">さようなら</p>
    </li>
  </ul>
  <div class="form"></div>
</div>