<li class="message">
  <div class="message-header">
    <a class="message-user-name"><%=message.user.name%></a>
    <div class="message-date"><%=message.created_at%></div>
  </div>
  <p class="message-text"><%=message.content%></p>
</li>
