<div class="side-bar">
  <div class="side-bar-header">
    <div class="user-name">
      <%= link_to current_user.name, edit_user_path(current_user)%>
    </div>
    <div class="create-chat-button">
      <a href="#">チャットを作成する</a>
    </div>
  </div>
  <ul class="rooms">
    <li class="room"><a herf="#">techroom1</a></li>
    <li class="room"><a herf="#">techroom2</a></li>
  </ul>
</div>