<div class="side-bar">
  <div class="side-bar-header">
    <div class="user-name">
      <a href="#">Tom</a>
    </div>
    <div class="create-chat-button">
      <a href="#">チャットを作成する</a>
      </div>
  </div>
  <div class="side-bar-main"></div>
</div>