<div class="side-bar">
  <div class="side-bar-header">
    <div class="user-name">
      <a href="#">Tom</a>
    </div>
    <div class="create-chat-button">
      <a href="#">チャットを作成する</a>
    </div>
  </div>
  <ul class="rooms">
    <li class="room"><a>techroom1</a></li>
    <li class="room"><a>techroom2</a></li>
  </ul>
</div>