<div class="side-bar">
  <div class="side-bar-header">
    <div class="user-name">
      <a href="#">Tom</a>
    </div>
    <div class="create-chat-button">
      <a href="#">チャットを作成する</a>
    </div>
  </div>
  <div class="side-bar-main">
    <ul class="rooms">
      <li><a>techroom1</a></li>
    </ul>
  </div>
</div>